DISCORD_TOKEN=
CHANNEL_ID_IN=1509561704596377690
CHANNEL_ID_OUT=1509561736850571415
CHANNEL_ID_RESET=1509971682012430476
CHANNEL_ID_ARCHIVE=1509972377272979518
SPREADSHEET_ID=11xMZUUw8lZqY0lqihxCzkCMSYvnoa5VNw3Z1Q1c_Rq4
SHEET_NAME=ชีต1
GOOGLE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@achi-c415e.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=
FIVEM_JOIN_CODE=67lzxd
FIVEM_PLAYERS_URL=http://89.38.101.34:30120/players.json
PRESENCE_CHECK_MS=60000
PORT=3000
